/* section one style */

img {
    width: 200px;
    height: 200px;
    background-color: black;
    transition: 5s;
    opacity: calc(100%);
}

img:hover {

    transition: 5s;
    opacity: 10;
}

.slideshow {

    width: 100%;
    height: 200px;
    background-color: rgb(185, 90, 90);
    transition: 5s;

}

.slideshow:hover {

    background-color: aqua;
    transition: 2s;
}